services:
  stats-server:
    ports:
      - "9090:9090"

  stats-db:
    image: postgres:16.1
    environment:
      POSTGRES_DB: stats
      POSTGRES_USER: stats
      POSTGRES_PASSWORD: stats

  ewm-service:
    ports:
      - "8080:8080"

  ewm-db:
    image: postgres:16.1
