server:
  port: 8080

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:ewm}
    username: ${DB_USER:ewm}
    password: ${DB_PASSWORD:ewm}

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql

stats-server:
  url: ${STATS_SERVER_URL:http://localhost:9090}

logging:
  level:
    org.springframework.orm.jpa: INFO
    org.springframework.transaction: INFO
